<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
    <section class="clearfix"></section>
    <div class="btn" id='btn1' value='Click'>Click Me</div>
    <div class="btn" id='btn2' value='Click'>Click Me2</div>
    <div id="app">
      {{ message }}
    </div>
    <div class="clearfix">
        <ul class="test">
            <li class="img1"></li>
            <li class="img2"></li>
            <li class="img3"></li>
            <li class="img4"></li>
        </ul>

        <ul class="icon_lists clear">

                <li><i class="icon iconfont icon-zuoji"></i></li>

                <li><i class="icon iconfont icon-ktv"></i></li>

                <li><i class="icon iconfont icon-simqia"></i></li>

                <li><i class="icon iconfont icon-wifi"></i></li>

                <li><i class="icon iconfont icon-anquan"></i></li>

        </ul>
    </div>
    <img src="${require('./src/assets/imgs/5.png')}">
    <div class="clearfix">
        <ul class="test">
            <li class="img6"></li>
            <li class="img7"></li>
            <li class="img8"></li>
        </ul>
    </div>

    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->

</body>
</html>
